.git
.gitignore
.gitmodules

docker-volumes

database_assetstore/.git
database_assetstore/.gitignore

gaia/.git
gaia/.gitignore

girder/.git
girder/.gitignore
girder/plugins/bsve
girder/plugins/database_assetstore
girder/plugins/girder_ktile
girder/plugins/minerva

girder_ktile/.git
girder_ktile/.gitignore

girder_worker/.git
girder_worker/.gitignore

minerva/.git
minerva/.gitignore
