[submodule "minerva"]
	path = minerva
	url = https://github.com/Kitware/minerva.git
[submodule "gaia"]
	path = gaia
	url = https://github.com/OpenDataAnalytics/gaia.git
[submodule "gaia_minerva"]
	path = gaia_minerva
	url = https://github.com/OpenDataAnalytics/gaia_minerva.git
[submodule "girder_db_items"]
	path = girder_db_items
	url = https://github.com/OpenGeoscience/database_assetstore.git
