[submodule "minerva"]
	path = minerva
	url = https://github.com/Kitware/minerva.git
[submodule "gaia"]
	path = gaia
	url = https://github.com/OpenDataAnalytics/gaia.git
[submodule "gaia_minerva"]
	path = gaia_minerva
	url = https://github.com/OpenDataAnalytics/gaia_minerva.git
[submodule "database_assetstore"]
	path = database_assetstore
	url = https://github.com/OpenGeoscience/database_assetstore.git
[submodule "girder_ktile"]
	path = girder_ktile
	url = https://github.com/OpenGeoscience/girder_ktile.git
