mongodb:
    image: mongo:3.0
    ports:
        - "27017"
    volumes:
        - "/data/db"

minerva:
    build: .
    dockerfile: Dockerfile
    ports:
        - "8080:8080"
    links:
        - "mongodb:mongodb"
    environment:
        - BSVE_USERNAME=PLACEHOLDER
        - BSVE_APIKEY=PLACEHOLDER
        - BSVE_SECRETKEY=PLACEHOLDER
    command: -d mongodb://mongodb:27017/girder
